<html>
<style>

    html, body {height:100%;}
    html {display:table; width:100%;}
    body {display:table-cell; text-align:center; vertical-align:middle;}
    

</style>
<head><title>Faculty Committee App</title></head>

<body>
    <p>
        <a href="./courses-attributes-prerequisites">Courses with Attributes and Prerequisites</a>
    </p><br>
    <p>
        <a href="./courses">Courses</a>
    </p><br>
    <p>
        <a href="./course-attributes">Course Attributes</a>
    </p><br>
    <p>
        <a href="./prerequisites">Prerequisites</a>
    </p><br>
    <p>
        <a href="./departments">Departments</a>
    </p><br>
    <p>
        <a href="./divisions">Divisions</a>
    </p><br>

</body> 
</html>