<h1>Add Course</h1>
<form method="POST">
    <label>ID:</label> <input type="text" name="course_id"> <br>
    <label>Subject Code:</label> <input type="text" name="subject_code"> <br>
    <label>Number:</label> <input type="text" name="course_number"> <br>
    <label>College:</label> <input type="text" name="college"> <br>
    <label>Long Title:</label> <input type="text" name="long_title"> <br>
    <label>Short Title:</label> <input type="text" name="short_title"> <br>
    <label>Last Term Offered:</label> <input type="text" name="last_term_offered"> <br>
    <input type="submit" value="Save">
</form>
