<html>
  <head>
    <title>Faculty</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
       integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
       crossorigin="anonymous">
  </head>
  <body>
    <div class = "container">
      <h1 class = "display-4">Faculty</h1>
        <table class = "table table-bordered">
          <thead>
            <tr>
              <th scope = "col">ID</th>
              <th scope = "col">Email</th>
              <th scope = "col">Name</th>
            </tr>
          </thead>
        <tbody>
          {% for faculty in faculty_list %}
            <tr>
              <td>{{ faculty.id }}</td>
              <td>{{ faculty.faculty_email }}</td>
              <td>{{ faculty.faculty_name }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>