<html>
  <head>
    <link rel="stylesheet" href="path/to/bootstrap.css">
    <script src="path/to/bootstrap.js"></script>
    <title>Faculty</title>
  </head>
  <body>
    <h1>Faculty</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Name</th>
      </tr>
      {% for faculty in faculty_list %}
      <tr>
        <td>{{ faculty.faculty_id }}</td>
        <td>{{ faculty.faculty_email }}</td>
        <td>{{ faculty.faculty_name }}</td>
</tr>
      {% endfor %}
    </table>
  </body>
</html>