<html>
    <link rel="stylesheet" href="path/to/bootstrap.css">
    <script src="path/to/bootstrap.js"></script>
<style>

    html, body {height:100%;}
    html {display:table; width:100%;}
    body {display:table-cell; text-align:center; vertical-align:middle;}
    

</style>
<head><title>Courses App</title></head>

<body>
    <p>
        <a href="/results">Search</a>
    </p><br>
    <p>
        <a href="/course_attributes">Course Attributes</a>
    </p><br>
    <p>
        <a href="/courses">Courses</a>
    </p><br>
    <p>
        <a href="/departments">Departments</a>
    </p><br>
    <p>
        <a href="/divisions">Divisions</a>
    </p><br>
    <p>
        <a href="/faculty">Faculty</a>
    </p><br>
    <p>
        <a href="/prerequisites">Prerequisites</a>
    </p><br>
    <p>
        <a href="/add_department">Add Department</a>
    </p><br>
    <p>
        <a href="/edit_departments/<department_id>">Edit Departments</a>
    </p><br>

</body> 
</html>