<!DOCTYPE html>
<html>
  <head>
    <title>Prerequisites</title>
    <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1 class="title-4">Prerequisites</h1>
        <table class="table table-shell">
          <thead>
            <tr>
              <th scope = "col">Subject Code</th>
              <th scope = "col">Course id</th>
            </tr>
          </thead>
        <tbody>
          {% for Prereq in prerequisites_list %}
            <tr>
              <td>  {{ Prereq.subject_code }} </td>
              <td><a href="edit_prerequisites/{{ Prereq.course_id }}">{{ Prereq.course_id }}</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
